.shuffle-container 
{
    padding: 3rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin-top: 1rem;
}

.shuffle-left 
{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.shuffle-right
{
    transition: border .5s ease-in-out;
}

.shuffle-right:hover 
{
    border: 8px solid var(--mintColor);
}

.shuffle-right-cover 
{
    opacity: .4;
    opacity: .8;
    z-index: 1;
    transition: all .5s ease-in;
    width: 100%;
    height: 100%;
}

.playing 
{
    opacity: .4;
}

.shuffle-right img:nth-child(1)
{
    width: 264px;
    height: 264px;
    border-radius: 5rem;
}

.shuffle-text 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shuffle-text button 
{
    color: var(--burgundyColor);
    background: var(--mintColor);
    font-size: 42px;
    font-family: "MuseoModerno", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    height: 64px;
    width: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffle-title 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    max-width: 70%;
}

.shuffle-title h1 
{
    color: var(--whiteColor);
    font-size: 42px;
    font-family: "MuseoModerno", sans-serif;
    font-weight: 700;
}

.shuffle-title h2
{
    color: var(--mintColor);
    font-size: 36px;
    font-family: "GT Walsheim Pro Light Oblique";
    margin-top: -.5rem;
    font-weight: lighter;
    margin-right: 1.2rem;
}

.shuffle-tracks 
{
    background: #8f8d8d;
    margin-top: 1rem;
    border-radius: 45px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: .5rem 1.5rem;
    gap: .5rem;
}

.shuffle-track 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.img-next-track 
{
    display: flex;
    gap: .7rem;
    align-items: center;
}

.shuffle-track
{
    font-family: "GT Walsheim Pro Light";
    font-size: 22px;
    font-weight: bold;
    color: var(--mintColor);
}

.shuffle-tracks h3 
{
    font-size: 22px;
    font-family: "GT Walsheim Pro Light";
    color: var(--whiteColor);
}


.shuffle-right 
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    border-radius: 5rem;
    cursor: pointer;
    margin-left: 4rem;
    position: relative;
    width: 264px;
    height: 264px;
}

.play-white 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 9;
}

.stop-white 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52.92px;
    height: 52.99px;
    object-fit: cover;
    cursor: pointer;
    z-index: 9;
}


.short-line 
{
    width: .277rem;
    height: 1.4rem;
    background: var(--blackColor);
    border-radius: 1rem;
    margin-left: 2rem;
}

.mobile-shuffle 
{
    display: none;
}

.shuffle-mobile-btn
{
    display: none;
}

.shuffle-mobile-line 
{
    display: none;
}
@media screen and (max-width: 900px)
{
    .shuffle-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .shuffle-text
    {
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .shuffle-left
    {
        flex: 1;
    }

    .shuffle-track
    {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .img-next-track
    {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .shuffle-tracks
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shuffle-right
    {
        margin: 0;
    }
}

@media screen and (max-width: 393px)
{
    .shuffle-container
    {
        display: none;
    }

    .mobile-shuffle
    {
        background: var(--mintColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 325px;
        align-items: center;
        margin: 0 auto;
        border-radius: 48px;
        margin-top: 1.5rem;
        padding: .8rem;

    }

    .mobile-title-shuffle 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .mobile-title-shuffle h2 
    {
        font-size: 22px;
        color: var(--burgundyColor);
        font-family: "MuseoModerno", sans-serif;
    }

    .mobile-title-shuffle h3 
    {
        color: black;
        font-size: 18px;
        font-family: "GT Walsheim Pro Light Oblique";
        margin-right: .9rem;
        margin-top: -.3rem;
    }

    .mobile-cover 
    {
        max-width: 248px;
        max-height: 248px;
        position: relative;
        border-radius: 65px;
        margin-top: 1rem;
    }

    .mobile-cover-img 
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 65px;
    }

    .mobile-play 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 109px;
        height: 109px;
    }

    .mobile-layer-cover 
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0,0,0,.74);
        z-index: 9;
        border-radius: 65px;
        border: 2px solid black;
    }

    .mobile-shuffle-track 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.7rem;
        width: 100%;
    }

    .mobile-shuffle-track img 
    {
        width: 19.18px;
        height: 19.18px;
        object-fit: cover;
    }

    .mobile-shuffle-tracks-title 
    {
        display: flex;
        flex-direction: column;
        padding-top: .5rem;
        align-items: center;
    }

    .mobile-shuffle-tracks-title h3
    {
        font-size: 10px;
        font-family: "GT Walsheim Pro Light";
        color: var(--burgundyColor);
    }

    .mobile-shuffle-tracks-title h2
    {
        font-size: 10px;
        font-family: "GT Walsheim Pro Light";
        color: var(--yellowColor);
    }

    .shuffle-mobile-btn 
    {
       display: flex;
       justify-content: center;
       align-items: center;
       max-width: 276px;
       height: 64px;
       margin: 0 auto;
       border-radius: 30px;
       margin-top: .8rem;
       margin-bottom: .8rem;
       background: var(--mintColor);
    }

    .shuffle-mobile-btn button 
    {
        background: none;
        border: none;
        font-size: 42px;
        text-transform: uppercase;
        font-family: "MuseoModerno", sans-serif;
        font-weight: 600;
        color: var(--burgundyColor);
    }

    .shuffle-mobile-line 
    {
        padding-bottom: .8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}