.favorite-container
{
    background: var(--mintColor);
 /*    background: #CCDECC; */
 background: rgb(236, 255, 235, .74);
 background: var(--mintColor);
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    column-gap: 3rem;
    margin: 0rem 1rem 6rem 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
    position: relative;
    background: 0;
}

.rectangle 
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.favorite-img 
{
    background: var(--burgundyColor);
    border-radius: 44px;
    width: 183px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
}

.favorite-titles 
{
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 9;
}

.favorite-titles h1 
{
    font-size: 46px;
    color: var(--burgundyColor);
    font-family: "MuseoModerno", sans-serif;
    font-weight: bold;
}

.favorite-img img 
{
    transition: all .7s ease;
    z-index: 9;
}

.favorite-img img:hover 
{
    transform: scale(1.17);
}


.favorite-titles h3 
{
    font-size: 24.6px;
    font-family: "GT Walsheim Pro Light";
}


.bar {
    stroke: var(--whiteColor);
    stroke-width: 14;
    stroke-linecap: round; 
    animation: barMotion 1.5s infinite ease-in-out; 
    transform-origin: top; 
    z-index: 9;

}

.favorite-container svg 
{
    z-index: 9;
}

@keyframes barMotion {
    0%, 100% {
        transform: scaleY(1); 
    }
    50% {
        transform: scaleY(2); 
    }
}
.bar-1 {
    animation-delay: 0s; 
}

.bar-2 {
    animation-delay: 0.3s; 
}

.bar-3 {
    animation-delay: 0.6s; 
}

.bar-4 {
    animation-delay: 0.9s; 
}

.liked {
    animation: barMotion 1.5s infinite ease-in-out; 
    animation: colorChange 3s forwards ease-in; 
}

.left-img
{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes colorChange {
    20% {
        stroke: var(--whiteColor); 
        opacity: .9;
    }
    50% {
        stroke: var(--burgundyColor); 
    }
    100% {
        stroke: var(--whiteColor); 
    }
}

.bar {
    stroke-linecap: round;
}


@media screen and (max-width: 900px)
{
    .favorite-container
    {
        flex-direction: column;
        padding: 2rem 3rem;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 75px;
    }

    .rectangle
    {
        border-radius: 140px;
        border-radius: 195px;
    }

    .favorite-titles h1 
    {
        line-height: 3.2rem;
        padding-bottom: 2rem;
    }

    .favorite-titles h3 
    {
        padding-bottom: 1rem;
    }
}